/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .header{
  margin-bottom: 0px;
} */

/* .sidebar{
  /* position: fixed !important;
  top: -10px !important; */
/* } */ 

.body-app{
  width: 100% !important;
  margin-left: 50px;
  padding-bottom: 150px;
  height: 100% !important;
  
}

.welcome-text{
  color: white;
}

.inbox{
  height: 90vh;
}

.inboxL{
  height: 80vh;
  border-style: solid;
  padding: 10px;
  background-color: white;
}

.inbox-LButtons{
  height: 7%;
}

.inbox-users{
  overflow-y: auto;
  height: 93%;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.inboxR{
  height: 85vh;
  border-style: solid;
  padding: 10px;
}

.inboxMessages{
  height: 70%;
  overflow-y: auto;
  border-style: solid;
  background-color: white;
}

.inboxForm{
  height: 20%;
}

.messageSent{
  float: right;
  margin-right: 10px;
}

.messageReceived{
  float: left;
  margin-left: 10px;
}

.messageSent .messagein{
  background-color: #92a8d1 !important;
}

.messageReceived .messagein{
  background-color: #db9c15 !important;
}



.message{
  width: 100%;
  min-height: 100px;
  padding: 10px;
}